<div ng-include="'components/navbar/navbar.html'"></div>




<div class="container">
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10">
   <form  ng-submit="generateDash()">
        <div class="sheet-box-feedback sheet-box" >
               
            
          <h4><b>Awesome loop de questions</b></h4>
            <legend></legend>
            <fieldset>
                <div class="question-loop" ng-repeat="question in questions">
            <div class="row" >
                <div class="col-md-7">
                 <label>{{question.statement}} </label>
              </div>
          </div>
          <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-10">                
                <div class="row" >
                    <div class="col-md-6">
                        <label class="radio">
                            <input class="" type="radio" name="optionsRadios5" value="{{question.options2.opt1}}" data-toggle="radio" ng-model="option">
                            {{question.options2.opt1}}
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="radio">
                            <input class="" type="radio" name="optionsRadios5" value="{{question.options2.opt2}}" data-toggle="radio" ng-model="option">
                            {{question.options2.opt2}}
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="radio">
                            <input class="" type="radio" name="optionsRadios5" value="{{question.options2.opt3}}" data-toggle="radio" ng-model="option">
                            {{question.options2.opt3}}
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="radio">
                            <input class="" type="radio" name="optionsRadios5" ng-value="answers" data-toggle="radio" ng-model="answers.option">
                            {{question.options2.opt4}}
                        </label>
                    </div>
                    <div class="col-md-6">
                        <label class="radio">
                            <input class="" type="radio" name="optionsRadios5" value="{{question.options2.opt5}}" data-toggle="radio" ng-model="option">
                            {{question.options2.opt5}}
                        </label>
                    </div>
                </div>
                <label class="radio">
                    <input type="radio" value="2" data-toggle="radio" name="optionsRadios5">
                    Yes, but only if...
                    <input type="text"  class="form-control" name="question5_onlyif"  placeholder="Add answer">
                </label> 
            </div>
            </div>
           
          </fieldset>
          <br>
            
        <br>
        
        <input class="sheet-box-submit pull-right" type="submit" value="Save Feedback" name="commit">


   </form>
   

</div>
<div class="span1"></div>
</div>
</div>
